$defaultFontColor: #333333;

html {
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: $defaultFontColor;
}

a {
  color: $defaultFontColor;
  text-decoration: none;
  outline: none;
}

a img {
  border: 0;
}
