$defaultFontColor: #333333;

html {
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: $defaultFontColor;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: $defaultFontColor;
  text-decoration: none;
  outline: none;
}

a img {
  border: 0;
}

.container {
  overflow: hidden;
  position: relative;
}

.left {
  padding-right: 300px;
  margin: 10px;
  margin-top: 75px;
}

.right {
  width: 300px;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  margin-top: 75px;
}
