.card {
  height: 142px;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
}

.textDiv {
  height: 100%;
  width: 100%;
}

.addText {
  text-align: center;
  vertical-align: middle;
}

.logoNewTimer {
  top: 105px;
  -webkit-animation: slideInFromBottom 2s, rotateMinus45 1.5s;
  -webkit-animation-delay: 0s, 2s;
  -webkit-animation-fill-mode: forwards;
  position: absolute;
  width: 100px;
  height: 100px;
}

@keyframes slideInFromBottom {
  from { transform: translateY(100%); }
  to { transform: translateY(0%); }
}

@keyframes rotateMinus45 {
  from { transform: rotate(0deg); }
  to { transform: rotate(-45deg); }
}
