.progressDiv {
  padding-bottom: 10px;
}

.icons {
  color: #333 !important;
}

.timerText {
  font-size: 30px;
  margin: 0px;
  margin-left: 8px;
}

.cards {
  margin-bottom: 30px;
}

.buttonRow {
  position: absolute;
  top: -6px;
}

.timerSavedText {
  position: relative;
  top: 3px;
}

.colNoPad {
  padding: 0px !important;
  margin: 0px !important;
}
