.toolBar {
  background-color: #333 !important;
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.mainContainer {
  padding-bottom: 80px;
  -webkit-app-region: drag;
  width: 87%;
  height: 100%;
  z-index: 0 !important;
}

.footerMenu {
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  left: 0;
}

.children {
  margin-bottom: 30px;
}

.minimizeIcon {
  position: relative;
  top: 5px;
  color: #FFFFFF !important;
}

.closeIcon {
  color: #FFFFFF !important;
}

.appIcon {
  position: relative;
  top: 7px;
}
